@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      /* Colors */

      /* Primary */
      --primary-950: 34 35 66;
      --primary-900: 42 43 81;
      --primary-800: 55 70 108;
      --primary-700: 87 91 199;
      --primary-600: 92 103 199;
      --primary-500: 102 107 226;
      --primary-400: 94 106 210;
      --primary-300: 110 121 214;
      --primary-200: 116 119 240;
      --primary-100: 108 121 255;

      /* Light */
      --light-50: 251 252 255;
      --light-100: 248 250 255;
      --light-200: 244 247 255;
      --light-300: 228 233 255;
      --light-400: 212 219 255;
      --light-500: 196 205 255;
      --light-600: 180 191 255;
      --light-700: 164 177 255;
      --light-800: 148 163 255;
      --light-900: 132 149 255;

      /* White */
      --white-100: 255 255 255;
      --white-200: 210 211 224;
   }
}
